@mixin flex-sp-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.button {
  padding: 15px;
  margin: 15px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.product {
  &__list {
    width: 90%;
    max-width: 1700px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {
    list-style: none;
    border: 1px solid #dfdfdf;

    .button {
      position: relative;
      background-color: rgb(65, 65, 65);
      color: #f5f3f3;
      padding: 7px 25px;
      margin: 0px;
      font-size: 18px;
      border-radius: 0px;
      transition: 0.5s;
      border: none;

      &::before {
        display: block;
        position: absolute;
        content: "";
        background: rgb(255, 255, 255);
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }

      &:hover {
        background-color: rgb(99, 99, 99);
      }
    }
  }

  &__img {
    width: 100%;
  }

  &__card-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  &__info {
    justify-self: start;
    align-self: end;
  }

  &__buttons {
    justify-self: end;
    align-self: end;
    display: flex;
    align-items: center;
  }

  &__name,
  &__price {
    margin: 5px;
    color: rgb(37, 37, 37);
  }

  &__color,
  &__article {
    margin: 5px;
    text-transform: capitalize;
    color: rgb(177, 177, 177);
  }
}

.modal {
  &__overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__div {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 250px;
    width: 520px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    transform: translate(-50%, -50%);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #575757;
    padding: 24px;

    &__text {
      display: inline;
      color: #ffffff;
      font-size: 18px;
    }

    &__close-button {
      background: none;
      border: none;
      padding: 0;
      margin: 0 0 0 10px;
      color: #ffffff;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }

  &__text {
    font-size: 16px;
    color: #333333;
    padding: 20px 40px;
    text-align: center;
    line-height: 2;
  }

  &__button-container {
    @include flex-center-center;
    padding: 20px 15px;

    .button {
      background-color: #575757;
      color: #ffffff;
      border-radius: 0px;
      font-size: 16px;
      min-width: 100px;
      border: none;
      margin: 0 5px;
      transition: 0.5s;

      &:hover {
        background-color: #7c7c7c;
      }
    }
  }
}

.modal-is-open {
  overflow: hidden;
  padding-right: calc(100vw - 100%);
}

.star {
  background: none;
  border: none;
  width: 34px;
  height: 34px;
  margin-right: 15px;

  svg {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}

.header {
  width: 100%;
  min-height: 50px;
  background: #4d4d4d;
  padding: 5px 5%;
  @include flex-sp-between-center;

  &__logo {
    padding: 0 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__icons {
    display: flex;

    .info-icon {
      margin-right: 10px;
      margin-left: 5px;
      position: relative;

      &__circle {
        position: absolute;
        padding: 2px;
        bottom: -7px;
        right: -12px;
        @include flex-center-center;
        border-radius: 12px;
        font-weight: 700;
        height: 24px;
        min-width: 24px;
        background: rgba(19, 203, 235, 0.856);
        color: #242424;
      }
    }

    svg {
      height: 30px;
      width: 30px;
      color: #ffffff;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    @include flex-center-center;
    margin: 3px 5px 0 35px;

    &.active {
      color: rgba(19, 203, 235, 0.856);
    }
  }
}

.info-icon {
  height: 30px;
  width: 30px;
}

.cart {
  &__layout {
    padding: 10px 30px;
    @include flex-sp-between-center;
    align-items: flex-start;
    gap: 20px;
  }

  &__form-container {
    width: 50%;
    border: 1px solid #4d4d4d;
    padding: 10px;
  }

  &__products-container {
    width: 50%;
  }

  &__empty-msg {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
  }

  &__empty-link {
    display: block;
    margin: 5px auto;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    text-decoration: none;
  }
}

.cart-list {
  width: 100%;
  max-width: 1700px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  padding: 10px;
  border: 1px solid #4d4d4d;
  list-style: none;
  @include flex-sp-between-center;

  &__img {
    width: 6%;
  }

  &__layout {
    width: 94%;
    @include flex-sp-between-center;
    gap: 5px;
  }

  &__name {
    width: 40%;
    min-width: 250px;
    padding: 0 15px;
  }

  &__info {
    width: 15%;
    @include flex-center-center;
    flex-direction: column;
  }

  &__color {
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  &__buttons {
    max-width: 15%;
    padding: 0 10px;
  }

  &__buttons button {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border: none;
    background: none;
  }
}

.cart-total {
  width: 90%;
  max-width: 1700px;
  margin: 10px auto;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
}

.order-form {
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0 5px;
  }

  input {
    background: #ffffff;
    border: 1px solid #4d4d4d;
    padding: 5px;
    font-size: 16px;
    width: 220px;
  }

  &__error-msg {
    font-size: 10px;
    margin: 3px 0;
  }

  &__name {
    @include flex-sp-between-center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
  }

  &__age {
    input {
      width: 70px;
    }
  }

  &__adress {
    textarea {
      width: 455px;
      background: #ffffff;
      border: 1px solid #4d4d4d;
      padding: 5px;
      font-size: 16px;
    }
  }

  .button {
    margin: 15px 0px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 0px;
    border: 1px solid #4d4d4d;
    background: #ffffff;
  }
}

.toggle {
  &__wrapper {
    @include flex-center-center;
    justify-content: flex-end;
    margin: 10px 5%;
  }

  &__text {
    font-size: 18px;
    padding: 0 5px;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 2px;
  }

  &__container {
    width: 60px;
    height: 30px;
    background-color: #333333;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    overflow: hidden;
  }

  &__slider {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #e2e2e2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  &__input {
    display: none;
  }

  &__input:checked + &__container &__slider {
    transform: translateX(30px);
  }
}

.products-table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto 15px;

  th,
  td {
    border: 1px solid #f5f5f5;
  }

  th {
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #cccccc;
    letter-spacing: 2px;
  }

  .img-td {
    width: 10%;
    text-align: center;
  }

  .product__img {
    margin: 5px;
    width: 94%;
  }

  .name-td {
    width: 40%;
    padding: 5px;
  }

  .color-td {
    width: 10%;
  }

  .article-td {
    width: 10%;
  }

  .price-td {
    width: 10%;
  }

  .buttons-td {
    width: 20%;
  }

  .color-td,
  .article-td,
  .price-td {
    text-align: center;
  }

  .product__buttons {
    margin: 0 auto;
    @include flex-center-center;
    justify-content: space-around;

    .button {
      background-color: rgb(65, 65, 65);
      color: #f5f3f3;
      padding: 7px 25px;
      margin: 0px;
      font-size: 18px;
      border-radius: 0px;
      transition: 0.5s;
      border: none;

      &:hover {
        background-color: rgb(99, 99, 99);
      }
    }
  }
}
